* {
    box-sizing: border-box;
}


body {
    background: powderblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color:teal;
    padding: 30px;
    text-align: center;
    font-size: 200px;
    color: white;
}

section {
    display: block;
}

nav {
    background-color:teal;
    width: 100%;
    height: 100%;
    font-size: 80px;
    justify-content: center;
    display:flex;
}


footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 15rem;
    text-align: center;
    font-size: 50px;
    color:white;
    background: teal;
}


.menu a:hover {
    color: skyblue;
}

.a {
    text-align: center;
    font-size: 100px;
    background-color: powderblue;
    font-weight: bolder;
}

#me {
    text-align: center;
    font-size: 60px;
    color: black;
}

.projects {
    text-align:center;
    font-size: 60px;
    color: black;
}

.name {
    text-align: center;
    font-size: 110px;
}

.portfolio {
    display:block;
    line-height: 1000px;
    float: inline-start;
    justify-content:center;
    overflow:hidden;
}

@media screen and (min-width: 2000px) {

}